@media only screen and (max-width: 1280px) {
    .card-container {
        width: 100%;
    }

    .w-33-3 {
        padding: 30px 20px;
    }

    .card {
        height: 600px;
    }

    .card-content {
        top: 40%;
    }

    .card-image img {
        width: 140px;
    }

    .card-heading h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .card-text p {
        font-size: 15px;
        line-height: 25px;
    }
}


@media only screen and (max-width: 810px) {

    body {
        height: 185vh;
        background: rgb(223, 216, 208);
    }

    .w-33-3 {
        width: 60%;
        margin: auto;
        float: none;
    }
}